Main {
  background-color: #b3c2db;
}

h1 {
  color: turquoise;
  font-size: 2em;
}

header {

}

nav {

}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  height: 300px;
  width: 400px;
}

footer {

}
